<header>
  <div id="container">
    <div class="row justify-content-between">
      <div class="col-10">
        <a routerLink="/">
          <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          />
        </a>
        <a class="mx-2" href="/index">Home</a>
        <a class="mx-2" href="/about">About</a>
        <a class="mx-2" href="/article">Article</a>
        <a class="mx-2" href="/contact">Contact</a>
      </div>
      <div class="col-2 row justify-content-end">
        <button mat-icon-button *ngIf="router.url !== '/edit'" routerLink="/edit">
          <mat-icon>create</mat-icon>
        </button>
        <button class="mx-4" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>face</mat-icon>
        </button>
        <mat-menu #menu>
          <div *ngIf="isLoggedIn()">
            <button mat-menu-item (click)="logout()">登出</button>
          </div>
          <div *ngIf="!isLoggedIn()">
            <button mat-menu-item routerLink="/login">登录</button>
            <button mat-menu-item routerLink="/register">注册</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
