#container {
  min-height: 100vh;
}

#textarea {
  width: 100%;
  height: 100%;
  border: azure;
}

#editor {
  background-color: red;
}

#previewer {
  background-color: beige;
}

#content {
  min-height: 100vh;
}
