<div id="container" fxLayout="column">
  <div>
    <div fxFlex="50%">
      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Ex. Title" [(ngModel)]="title" required>
      </mat-form-field>
    </div>
    <div fxFlex="30%">
      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-label>Tag</mat-label>
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of tags" [removable]="removable" (removed)="removeTag(tag)">
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
                 [formControl]="tagCtrl"
                 [autocomplete]="auto"
                 [matChipInputFor]="tagList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-around" fxFlex="20%">
      <mat-slide-toggle [(ngModel)]="personal">公开：{{personal}}</mat-slide-toggle>
      <div>
        <button mat-raised-button color="primary" (click)="saveArticle()">Submit</button>
      </div>
    </div>
  </div>
  <div id="content" fxLayout="row">
    <div fxFlex="50%" fxLayoutAlign="center">
      <div id="editor" fxFlex="90%">
        <textarea [(ngModel)]="content" id="textarea" required="required"></textarea>
      </div>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center">
      <div id="previewer" fxFlex="90%">
        <div [innerHTML]="content | marked" style="padding: 10px"></div>
      </div>
    </div>
  </div>
</div>

